.logo-part{
    display: flex;
    padding: 40px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    border: 10px;
    padding: 10px;
    background: bisque;
}
.img{
    padding: 20px;
}
.logo-part{
    align-items: center;
}
nav ul{
    display: flex;
    margin-right: 50px;
    align-items: center;
    list-style: none;
    padding-right: 100px;
}
.head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:floralwhite;
    margin: 0 150px;
}
.section-2{
    text-align: center;
}
.img-section{
    display: flex;
    justify-content:space-around;
    padding: 20px;
    
}
.p-section{
    display: flex;
    justify-content: space-around;
}
.main-section{
    display: flex;
    align-items: center;
}
.icon-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 200px;

}
/*footer section*/

.footer-section{
    background: black;
    padding: 100px;
}

.footrt-img{
    display: flex;
    padding: 0 800px;
    color: white;
    
}
.footer-3{
    display: flex;
    justify-content: space-around;
    padding: 20px 500px;
    color: white;
}
.footer-icon{
   text-align: center;
   justify-content: space-between;
}
.last-p{
    text-align: center;
    color: wheat;
}