@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,400&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
.logo-part{
    display: flex;
    padding: 40px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    border: 10px;
    padding: 10px;
    background: bisque;
}
.img{
    padding: 20px;
}
.logo-part{
    align-items: center;
}
.g{
    color: #FF42A5
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
    list-style: none;
    padding-right: 100px;
}
.head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:floralwhite;
    margin: 0 150px;
}
.g-p{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    padding: 1px;
}
.g-o{
    color: #FF42A5;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
}
.button-A{
    background: #FF42A5;
    color: white;
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 700;
}
.button-B{
    background: #4EC5F7;
    color: white;
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 700;
}
.section-2{
    text-align: center;
   
}
.Online-Games{
    font-size: 48px;
    font-weight: 700;
}
.img-section{
    display: flex;
    justify-content:space-around;
    padding: 20px;
    
}
.p-section{
    display: flex;
    justify-content: space-around;
}
.Play-Instantly{
    color: #FF42A5;
}
.main-h1{
    font-size: 48px;
    font-weight: 500;
}
.main-section{
    display: flex;
    align-items: center;
}
.icon-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 200px;

}
.icon-img :hover{
    
}
/*footer section*/

.footer-section{
    background: black;
    padding: 100px;
}

.footrt-img{
    display: flex;
    padding: 0 800px;
    color: white;
    
}
.footer-3{
    display: flex;
    justify-content: space-around;
    padding: 20px 500px;
    color: white;
}
.footer-icon{
   text-align: center;
   justify-content: space-between;
}
.last-p{
    text-align: center;
    color: wheat;
}


